*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.w-screen {
  width: 100dvw;
}

.h-screen {
  height: 100dvh;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.mx-auto {
  margin-inline: auto;
}

.dark {
  color: #eeeeee !important;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #434343,
    #000000
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  --bg-color: #eeeeee !important;
  & .card {
    background-color: #e0e0e088;
  }
}

.light {
  background: #304352; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #d7d2cc,
    #304352
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #d7d2cc,
    #304352
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #222;
  --bg-color: #222;

  & .card {
    background-color: #1d1c1c88;
  }
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.gap-form {
  gap: 4rem;
}

.gap-4 {
  gap: 1rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.place-center {
  place-items: center;
  justify-content: center;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.wave {
  filter: brightness(0.5) contrast(0.9);
  mix-blend-mode: plus-lighter;
  border-radius: 2rem;
  height: 96%;
  width: 94%;
}

.wrapper {
  perspective: 800px;
  z-index: 500;
}

#header {
  position: relative;
  width: fit-content;
  height: 100%;
  padding: 2rem;
  user-select: none;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 2rem;
  padding-right: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 40rem;
  border-radius: 2rem;
  outline: 0.15rem solid #ebebebd2;
  aspect-ratio: 8/3;
}

#logo {
  position: absolute;
  width: 6rem;
  top: 0;
  left: 0;
  margin-top: 1.2rem;
  margin-left: 1.2rem;
  mix-blend-mode: difference;
  filter: brightness(0.6);
}

#photography {
  padding: 0.5rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  height: 100%;
  object-fit: cover;
  margin-left: 1rem;
}

#photography img {
  width: fit-content;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #c9c9c9dc;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 30px 20px -20px;
  perspective: 500px;
  object-fit: cover;
  aspect-ratio: 1/1;
}

#name {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

#name h1 {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  mix-blend-mode: hard-light;
  text-shadow: 1px 1px 2px #383838;
}

#name p {
  padding-left: 0.5rem;
  line-height: 0.8;
  font-size: 1.1rem;
  font-weight: 600;
  mix-blend-mode: difference;
  text-shadow: 1px 1px 2px #383838;
}

#description {
  display: flex;
  flex-direction: column;
  padding-left: 0.8rem;
}

#description p a {
  text-decoration: none;
  color: unset;
  font-weight: 400;
}

.bg {
  background: linear-gradient(135deg, #6d6868 0%, #e0e0e0 100%);
  position: absolute;
  filter: blur(10px);
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 2rem;
}

.titulo {
  font-size: 4rem;
  font-family: "Caveat", cursive;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

#formulario-reactivo {
  font-size: 1.8rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.input-div {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgb(1, 235, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgb(1, 235, 252), inset 0px 0px 2px rgb(1, 235, 252),
    0px 0px 3px rgb(255, 255, 255);
  animation: flicker 2s linear infinite;
}

.icon {
  color: rgb(1, 235, 252);
  font-size: 2rem;
  cursor: pointer;
  animation: iconflicker 2s linear infinite;
}

.input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  cursor: pointer !important;
}

.switch {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --bg-color-alt: #666;
  --main-color: #323232;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50px;
  height: 20px;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-colorcolor);
  transition: 0.3s;
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  left: -2px;
  bottom: 2px;
  background-color: var(--bg-color);
  box-shadow: 0 3px 0 var(--main-color);
  transition: 0.3s;
}

.toggle:checked + .slider {
  background-color: var(--input-focus);
}

.toggle:checked + .slider:before {
  transform: translateX(30px);
}

.switch-container {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
}

@keyframes flicker {
  0% {
    border: 2px solid rgb(1, 235, 252);
    box-shadow: 0px 0px 20px rgb(1, 235, 252),
      inset 0px 0px 10px rgb(1, 235, 252), 0px 0px 5px rgb(255, 255, 255);
  }

  5% {
    border: none;
    box-shadow: none;
  }

  10% {
    border: 2px solid rgb(1, 235, 252);
    box-shadow: 0px 0px 20px rgb(1, 235, 252),
      inset 0px 0px 10px rgb(1, 235, 252), 0px 0px 5px rgb(255, 255, 255);
  }

  25% {
    border: none;
    box-shadow: none;
  }

  30% {
    border: 2px solid rgb(1, 235, 252);
    box-shadow: 0px 0px 20px rgb(1, 235, 252),
      inset 0px 0px 10px rgb(1, 235, 252), 0px 0px 5px rgb(255, 255, 255);
  }

  100% {
    border: 2px solid rgb(1, 235, 252);
    box-shadow: 0px 0px 20px rgb(1, 235, 252),
      inset 0px 0px 10px rgb(1, 235, 252), 0px 0px 5px rgb(255, 255, 255);
  }
}

@keyframes iconflicker {
  0% {
    opacity: 1;
  }

  5% {
    opacity: 0.2;
  }

  10% {
    opacity: 1;
  }

  25% {
    opacity: 0.2;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
